<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="de.tud.et.ifa.agtele.eclipse.webpage.contributions.GenerateWebPageMenuContribution"
            locationURI="popup:de.tud.et.ifa.agtele.eclipse.webpage.presentation.WebpageEditorID?before=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tud.et.ifa.agtele.eclipse.webpage.handlers.GenerateWebPageCommandHandler"
            id="de.tud.et.ifa.agtele.eclipse.commons.webpage.generator.GenerateWebPageCommand"
            name="Generate Web Page">
      </command>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated webpage -->
      <package
            uri="http://et.tu-dresden.de/ifa/WebPage/model/v0.1"
            class="de.tud.et.ifa.agtele.eclipse.webpage.webpagemodel.WebPageModelPackage"
            genModel="model/webpage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated webpage -->
      <factory
            uri="http://et.tu-dresden.de/ifa/WebPage/model/v0.1"
            class="de.tud.et.ifa.agtele.eclipse.webpage.webpagemodel.provider.WebPageModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated webpage -->
      <category
            id="de.tud.et.ifa.agtele.eclipse.commons.new.category"
            name="Agtele Commons"/>
      <wizard
            id="de.tud.et.ifa.agtele.eclipse.webpage.webpagemodel.presentation.WebPageModelModelWizardID"
            name="%_UI_WebPageModelModelWizard_label"
            class="de.tud.et.ifa.agtele.eclipse.webpage.webpagemodel.presentation.WebPageModelModelWizard"
            category="de.tud.et.ifa.agtele.eclipse.commons.new.category"
            icon="icons/full/obj16/WebPageModelModelFile.gif">
         <description>%_UI_WebPageModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated webpage -->
      <editor
            id="de.tud.et.ifa.agtele.eclipse.webpage.webpagemodel.presentation.WebPageModelEditorID"
            name="%_UI_WebPageModelEditor_label"
            icon="icons/full/obj16/WebPageModelModelFile.gif"
            extensions="webpagemodel"
            class="de.tud.et.ifa.agtele.eclipse.webpage.webpagemodel.presentation.WebPageModelEditor"
            contributorClass="de.tud.et.ifa.agtele.eclipse.webpage.webpagemodel.presentation.WebPageModelActionBarContributor">
      </editor>
   </extension>
</plugin>
