<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uaStorageClient -->
      <package
            uri="http://et.tu-dresden.de/ifa/EMFModelStorage/UA/model/v0.1"
            class="de.tud.et.ifa.agtele.eclipse.commons.emf.modelStorage.uaModelStorageClient.UAModelStorageClientPackage"
            genModel="model/uaStorageClient.genmodel"/>
   </extension>
   <extension
         point="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.connector">
      <connector
            className="AgteleEMFUAConnector"
            packageUri="http://et.tu-dresden.de/ifa/EMFModelStorage/UA/model/v0.1">
         <schemaEntry
               prefix="emf.opc.tcp">
         </schemaEntry>
      </connector>
   </extension>
</plugin>
