<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.ModelStorageViewPage" name="Model Storage View Page Registration" schema="schema/de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.extensionpoint.ModelStorageViewPage.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.preferences.ModelStoragePreferencePages"
            id="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.preferences.ModelStoragePreferences"
            name="AgTele EMF Model Storage">
      </page>
      <page
            category="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.preferences.ModelStoragePreferences"
            class="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.preferences.ModelStorageDefaultConnectorsPreferencePage"
            id="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.preferences.ModelStorageDefaultConnectorsPreferencePage"
            name="Model Storage Default Connectors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.views.ModelStorageView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <view
               id="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.views.ModelStorageView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.tud.et.ifa.agtele.i40Component.ide.ui.views.EPackageBrowser"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="de.tud.et.ifa.agtele.ui.views.category"
            class="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.views.ModelStorageView"
            icon="icons/repositories.gif"
            id="de.tud.et.ifa.agtele.eclipse.commons.emf.storage.ui.views.ModelStorageView"
            inject="true"
            name="Model Storage View">
      </view>
   </extension>
	   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.tud.et.ifa.agtele.ui.views.category"
            class="de.tud.et.ifa.agtele.ui.views.EPackageBrowserView"
            icon="platform:/plugin/org.eclipse.epsilon.dt.epackageregistryexplorer/icons/epackage.png"
            id="de.tud.et.ifa.agtele.i40Component.ide.ui.views.EPackageBrowser"
            name="EPackage Browser"
            restorable="true">
      </view>
   </extension>
</plugin>
